.secret-captcha-container{
	position: relative;
}
.secret-captcha {
	width: 289px;
	height: 60px;
	border: 1px solid rgb(213, 213, 213);
}

.secret-captcha-reload {
	position: absolute;
	right: 8px;
	bottom: 8px;
	cursor: pointer;
}

.dt-btns {
	margin-bottom: 6px !important;
}

.preview-pane {
	padding: 8px;
	border: 1px solid #ddd;
}

.dreamcms-acl-group {
	border: 1px solid #ddd;
	padding: 1em;
	margin-bottom: .8em;
}

div.mce-fullscreen {
	z-index: 1100 !important;
}

.dreamcms-well {
	border: 1px solid rgb(197, 208, 220) !important;
}

.dreamcms-page-attachment-thumbnail {
	max-width: 200px;
	height: auto;
}